


<body>
  <h1>MI RED SOCIAL</h1>
  <div style="text-align:center;padding:10px;" >
    <div>
        <div class="contenedor-formulario">
            <header>
                <h1>DATOS DEL OSUARIO</h1>
            </header>
            <form>
                <input class="campo-texto" id="nombre" type="text" name="nombre" placeholder="nom" required/>
                <input class="campo-texto" id="apellido" type="text" name="apellido" placeholder="cognoms" required/>
                <input class="campo-texto" id="usuario" type="number" name="usuario" placeholder="edat" onkeypress="return event.charCode>=48 && event.charCode<=57" required/>
                <input class="campo-texto" id="foto" type="text" name="foto" placeholder="foto" required/>
                <input class="campo-texto" id="descripcio" type="text" name="descripcio" minlength="4" placeholder="descripcio" required/>
                <input class="campo-texto" id="correu" type="email" name="correu" placeholder="correu" required/>
                <input class="campo-texto" id="password" type="password" name="password" placeholder="contrasenya" required/>
                <input class="campo-texto" id="password" type="password" name="password" placeholder="contrasenya" required/>
                <input type="submit" value="submit" class="submit" />
            </form>
        </div>
    </div>
  </div>
  <div style="text-align:center;padding:10px;" *ngFor="let usuarios of usuaris">
    <div>
        <div class="contenedor-formulario">
            <header>
                <h1>DATOS DEL OSUARIO</h1>
            </header>
            <form>
                <input class="campo-texto" id="nombre" type="text" name="nombre" required placeholder="{{usuarios.nom}}" readonly />
                <input class="campo-texto" id="apellido" type="text" name="apellido" required placeholder="{{usuarios.cognoms}}" readonly />
                <input class="campo-texto" id="usuario" type="number" name="usuario" required placeholder="{{usuarios.edat}}" readonly />
                <input class="campo-texto" id="foto" type="text" name="foto" placeholder="{{usuarios.foto}}" readonly />
                  <img src="{{ usuarios.foto }} " alt="image" />
                <input class="campo-texto" id="descripcio" type="text" required name="descripcio" minlength="4" placeholder="{{usuarios.descripcio}}" readonly />
                <input class="campo-texto" id="correu" type="email" required name="correu" placeholder="{{usuarios.correu}}" readonly />
                <input class="campo-texto" id="password" type="password" required name="password" placeholder="{{usuarios.contrasenya}}" readonly />
                <input class="campo-texto" id="password" type="password" required name="password" placeholder="{{usuarios.contrasenya}}" readonly />
                <input type="submit" value="Editar" class="submit"/>
            </form>
        </div>
    </div>
  </div>
  <!--<table>
    <tr>
      <td>nom</td>
      <td>cognoms</td>
      <td>edat</td>
      <td>foto</td>
      <td>descripcio</td>
      <td>correu</td>
      <td>contrasenya</td>
      <td>contrasenya</td>
      <td></td>
    </tr>
    <tr *ngFor="let usuarios of usuaris">
      <td>{{usuarios.nom}}</td>
      <td>{{usuarios.cognoms}}</td>
      <td>{{usuarios.edat}}</td>
      <td>{{usuarios.foto}}</td>
      <td>{{usuarios.descripcio}}</td>
      <td>{{usuarios.correu}}</td>
      <td>{{usuarios.contrasenya}}</td>
      <td>{{usuarios.contrasenya}}</td>
    </tr>
  </table>-->
</body>
